<% # This manual pagination was required since `will_paginate` doesn't support external APIs %>

<% page = params['page']&.to_i || 1 %>

<div class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <% if page > 1 %>
        <%= pagination_item('Previous', page - 1) %>
      <% end %>

      <% (page-3..page-1).each do |p| %>
        <% next if p < 1 %>
        <%= pagination_item(p.to_s, p) %>
      <% end %>

      <% if @total_pages > 1 %>
        <%= pagination_item(page.to_s, page, true) %>
      <% end %>

      <% (page+1..page+3).each do |p| %>
        <% break if p > @total_pages %>
        <%= pagination_item(p.to_s, p) %>
      <% end %>

      <% if page < @total_pages %>
        <%= pagination_item('Next', page + 1) %>
      <% end %>
    </li>
  </ul>
</div>
