<div class="card mb-3 shadow">
  <div class="row">
    <div class="col-md-2 d-flex align-items-center">
      <%= image_tag img_url, class: 'w-100 rounded-left' %>
    </div>

    <div class="col-md-10 my-auto">
      <div class="card-body">
        <h6 class="card-title font-weight-bold ">
          <%= link_to(name,
                      "#modal-#{id}",
                      'data-toggle': 'modal',
                      class: 'text-decoration-none stretched-link') %>
        </h6>

        <p class="card-text">
          <small class="text-muted">
            <%= date %>
          </small>
        </p>

        <p class="card-text truncate-2">
          <%= overview %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-<%= id %>">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <%= image_tag img_url, class: 'w-100 rounded' %>
          </div>
          <div class="col">
            <h5><%= name %></h5>

            <p class="text-muted">
              <%= date %>
            </p>

            <% if media_type != 'person' && params[:filter] != 'person' %>
              <p class="font-weight-bold">
                User score:
                <%= vote_average %>
              </p>
            <% end %>

            <hr />

            <p>
              <%= overview %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
