<% provide :title, params[:q] %>

<div class="border mb-4">
  <div class="container">
    <%= form_with(method: 'get', local: true, class: 'd-flex') do |f| %>
      <%= f.text_field :q,
        class: 'form-control shadow-none border-0 py-3 font-italic',
        placeholder: 'Search for a movie, tv show, person...'
      %>
    <% end %>
  </div>
</div>

<main class="container-sm px-5">
  <div class="row">
    <aside class="col-md-3 p-0">
      <div class="list-group border">
        <div class="list-group-item disabled bg-info text-white font-weight-bold p-3">
          Search Results
        </div>

        <% @filters.each do |filter| %>
          <% classes = 'list-group-item list-group-item-action list-group-item-light border-0' %>
          <% classes += params['filter'] == filter[1].to_s ? ' active' : '' %>
          <% classes += params['q'] ? '' : ' disabled' %>

          <%= link_to filter[0],
            params.permit(:q, :filter, :page).merge(filter: filter[1]),
            class: classes
          %>
        <% end %>
      </div>
    </aside>

    <div class="col-md-9">
      <% if @matches.nil? %>
        <i class="text-muted">Search for something in the box above</i>
      <% elsif @matches.empty? %>
        There are no content that matched your query.
      <% else %>
        <% @matches && @matches.each do |result| %>
          <%= render partial: 'result', locals: make_result(result) %>
        <% end %>

        <%= render partial: 'pagination' %>
      <% end %>
    </div>
  </div>
</main>
