<%= form_with(model: @movie, local: true) do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control mb-2', required: true %>

  <div class="row mb-2">
    <div class="col">
      <%= f.label :release_date %>
      <%= f.date_field :release_date, class: 'form-control', required: true %>
    </div>

    <div class="col">
      <%= f.label :score %>
      <%= f.number_field :score, in: 0.0..10.0, step: 0.1, class: 'form-control', required: true %>
    </div>
  </div>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control mb-2', required: true %>

  <%= f.label :poster %>
  <%= f.url_field :poster, class: 'form-control mb-2', required: true %>


  <%= f.submit yield(:submit_text), class: 'btn btn-primary' %>
<% end %>
